## Introduction to Pandas

#### **Name:** <insert name>

#### Import Libraries

#### Create the dataset

In [ ]:
data = {
    "Name": ["Alice", "Bob", np.nan, "David"],
    "Age": [25, np.nan, 30, 35],
    "Score": [85, 90, np.nan, 88],
}
df = pd.DataFrame(data)

#### Replace Age with mean

#### Replace Score

#### Rename Columns

#### Concatenate Dataframes

#### Grouping Data by Categories

In [ ]:
data = {
    "Class": ["A", "B", "A", "B", "C", "C"],
    "Score": [85, 90, 88, 72, 95, 80],
    "Age": [15, 16, 15, 17, 16, 15],
}
df = pd.DataFrame(data)